@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.open-sans-genarel {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}

/* shared color */
.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  padding: 14px 35px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}
.bg-primary {
  background-color: #fff8f3;
}

.header-container {
  width: 100%;
  height: 637px;
  background-color: #fff8f3;
  padding: 32px 38px 0px 190px;
  background-image: url("../assets/header_bg.png"),
    url("../assets/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  background-size: 650px 410px, 120px 100%;
}

main {
  width: 75%;
  margin: 0 auto;
}

section {
  margin-top: 120px;
}

.section-title {
  font-size: 37px;
  margin-bottom: 50px;
}

.section-description {
  font-size: 12px;
  color: #757575;
}

/* End Of shared css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
nav .name {
  font-size: 38px;
  font-weight: 800;
}
.name span {
  color: rgb(255, 97, 5);
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
  margin-right: 150px;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  font-size: 17px;
}
.nav-btn {
  font-size: 17px;
}

/* Banar */
.banar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banar-context {
  width: 500px;
  height: 300px;
}
.banar-greeting {
  font-size: 20px;
  font-weight: 500;
}
.banar-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 18px;
}
.banar-description {
  font-size: 14px;
}
.buttons {
  margin-top: 25px;
  display: flex;
  gap: 9px;
}
/* .buttons button{
    font-size: 20px;
    padding: 26px 40px;
} */
.banar-container img {
  width: 470px;
  height: 543px;
  margin-top: 10px;
}

/* MAIN SECTION--------------------------->>> */

.about-me-sec {
  background-color: #ffdbc19d;
  text-align: center;
  width: 100%;
  height: 510px;
  border-radius: 8px;
  padding-top: 120px;
}

.about-container {
  border: 1px dashed orange;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 3px 5px 2px rgb(252, 209, 130);
  border-radius: 7px;
}
.about-para {
  text-align: justify;
  padding: 0 15px;
}

.contact-details {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  font-size: 15px;
}
.items-value {
  font-weight: 600;
}

/* SKILL section */
.skills-sec {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  /* text-align: center; */
  border-radius: 9px;
  padding: 0 10px;
}
.skills-sec .section-title {
  text-align: center;
}
.skills-sec > p {
  padding: 0 160px;
  color: rgb(85, 75, 75);
  font-size: 13px;
  text-align: center;
}
.skill-set {
  display: flex;
  margin-top: 50px;
  gap: 12px;
  padding-bottom: 9px;
}
.skills {
    flex-basis: 25%;
  padding: 20px;
  border: 1px solid rgb(241, 207, 142);
  box-shadow: 0px 3px 5px 2px #ff8731;
border-radius: 9px;
background-color: #ffe7d6;
}
.skills h3{
    font-size: 17px;
    margin-top: 15px;
}
.skills p{
    font-size: 13px;
    color: #757575;
    margin-top: 30px;
}

/* RESUME section */
.resume-sec > h2{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 15px;
}
.column-title{
    font-size: 28px;
    font-weight: 600;
}
.resu-card-title{
    font-size: 26px;
    font-weight: 500;
    color: #474747;
}
.resu-card-sub-title{
    font-size: 18px;
    font-weight: 500;
    color:#757575;
}
.resume-card{
    margin: 20px 0;
}
.section-description{
    font-size: 14px;
    margin-top: 25px;
}
.resu-download{
    margin-top: 40px;
    /* display: block; */
    text-align: center;
}